QWidget {
  background: #121212;
  color: white;
  border-radius: 2px;
}

QLineEdit {
  border: 1px solid white;
}

QPushButton {
  border: none;
  font-weight: bold;
}

QPushButton:focus {
  border: none;
  outline: none;
}

QPushButton:hover {
  background-color: #d2d0d0;
  color: #121212;
}

QPushButton:pressed {
  background-color: white;
}

QPushButton:disabled {
  color: #808080;
}

QTableView {
    outline: none;
    border: none;
}

QTableView::item:selected {
  color: #121212;
  background-color: white;
  border: none;
  outline: none;
}

QTableView::item:focus {
  border: none;
  outline: none;
}

QLabel#lbl_history {
  color: #888;
  border: 1px solid #888;
}

QTabWidget {
    border: none;
    margin: 0;
}

QTabBar {
    qproperty-drawBase: 0;
    border: none;
    outline: none;
}

QTabBar::tab {
    background: #212121;
}

QTabBar::tab:selected {
    background: rgba(0, 0, 0, 0);
}

QTabBar::tab:focus {
    border: none;
    outline: none;
}
